{{template "base" .}}

{{define "content"}}
    <div class="f2">Log in:</div>
    <form method="post" action="/user/{{.Email}}/chgpassword" class="ml4 f4 f3-ns">
        <div class="mt3">
            <label for="old-password-field" class="db f5">Old Password</label>
            <input id="old-password-field" type="password" name="password" class="mv2 input-reset ba">
            {{if .Error.Password}}
                <i class="db f5 red">{{.Error.Password}}</i>
            {{end}}
        </div>
        <div class="mt3">
            <label for="new-password-field" class="db f5">New Password</label>
            <input id="new-password-field" type="password" name="new_password" class="mv2 input-reset ba">
            {{if .Error.NewPassword}}
                <i class="db f5 red">{{.Error.NewPassword}}</i>
            {{end}}
        </div>
        <div class="mt3">
            <label for="conf-password-field" class="db f5">Confirm New Password</label>
            <input id="conf-password-field" type="password" name="pass_conf" class="mv2 input-reset ba">
            {{if .Error.PasswordConfirm}}
                <i class="db f5 red">{{.Error.PasswordConfirm}}</i>
            {{end}}
        </div>
        <input type="submit" class="button-reset bg-white dim f5 mt3 pa2 black ba b--black pointer" value="Change Password">
    </form>
    
    <a class="f6 link dim ba ph3 pv2 ma2 mt4 db gray" href="/user/{{.Email}}">Cancel and return to user page</a>
{{end}}