{{template "base" .}}

{{define "content"}}
    <div class="f2">{{.MainTitle}}</div>
    <div class="f4">{{.MainDescription}}</div>

    <form action="{{.YesURL}}" method="post"><input type="submit" class="f6 w-20-ns w-100 input-reset bg-white ba ph3 pv2 ma2 mt4 db {{.YesColour}} b--{{.YesColour}} hover-bg-{{.YesColour}} hover-white" value="{{.YesText}}"></form>
    <a class="f6 w-20-ns w-100 link ba ph3 pv2 ma2 db {{.NoColour}} b--{{.NoColour}} hover-bg-{{.NoColour}} hover-white tc" href="{{.NoURL}}">{{.NoText}}</a>
{{end}}