{{template "base" .}}

{{define "content"}}
    <div class="f2">Log in:</div>
    <form method="post" action="/search" class="ml4 f4 f3-ns">
        <div class="mt3">
            <label for="email-field" class="db f5">E-Mail</label>
            <input id="email-field" type="text" name="name" class="mv2 input-reset ba" value="{{.User.Email}}">
            {{if .Error.Email}}
                <i class="db f5 red">{{.Error.Email}}</i>
            {{end}}
        </div>
        <div class="mt3">
            <label for="password-field" class="db f5">Password</label>
            <input id="password-field" type="password" name="name" class="mv2 input-reset ba">
        </div>
        <input type="submit" class="button-reset bg-white dim f5 mt3 pa2 black ba b--black pointer" value="Log in">
    </form>
{{end}}