{{template "base" .}}

{{define "content"}}
    <div class="f2">{{.User.Name}}'s Wishlist:</div>
    <table class="f6 f5-ns mt5 w-100 w-80-ns center" cellspacing="0">
        <thead>
            <tr class="striped--light-gray">
                <th class="pa1 pa3-ns">Item Name</th>
                <th class="pa1 pa3-ns">Item Description</th>
                <th class="pa1 pa3-ns">Price</th>
                <th class="pa1 pa3-ns">Status</th>
            </tr>
        </thead>
        <tbody>
            {{range .Items}}
            <tr class="striped--light-gray">
                <td class="pa1 pa3-ns">{{.Name}}</td>
                <td class="pa1 pa3-ns">{{.Description}}</td>
                <td class="pa1 pa3-ns">{{.Price}}</td>
                <td class="pa1 pa3-ns">{{.Status.Name}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}