<!DOCTYPE html>
<html class="h-100" lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>A Basic Wishlist Program</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
</head>
<body class="h-100 helvetica bg-near-white">

    
    <nav class="flex justify-between bb bg-black shadow-2">
        <a class="link white dim no-underline flex items-center pa3 b" href="/">Wishlist Home</a>
        <div class="flex-grow pa3 flex items-center">
            <a class="f6 link dib white dim mr3 mr4-ns" href="/search">Search Users</a>
            <a class="f6 link dib white dim mr3 mr4-ns" href="/login">Log In</a>
            <a class="f6 link dib white dim mr3 mr4-ns" href="/register">Register</a>
        </div>
    </nav>

    
    <div class="w-90 w-60-ns center ma3 mt5-ns pa4 bg-white shadow-4">
    {{template "content" .}}
    </div>

</body>
</html>